Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
Flask-Login==0.6.3
psycopg2-binary==2.9.12
gunicorn==22.0.0
bidict==0.23.1
click==8.1.7
colorama==0.4.6
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
python-engineio==4.9.1
python-socketio==5.11.2
simplejson==3.19.2
typing_extensions==4.12.2
Werkzeug==3.0.3
wsproto==1.2.0
python-dotenv