body {
    background-color: #1e1e3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    text-align: center;
}

.mode-selector {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mode-selector span {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}

#work.active {
    background-color: #ff4c4c;
    color: white;
}

#break {
    color: white;
}

#break.highlighted {
    background-color: #ff4c4c;
    color: white;
}

.timer-circle {
    margin: 20px 0;
    border: 20px solid #ff4c4c;
    border-radius: 50%;
    width:300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;


.timer {
    font-size: 5em;
}

.controls button {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.controls button:focus {
    outline:#1e1e3f;
}

.controls button:active {
    background-color: #5d66173e;
}
}