<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="background-color: #0d1117; color: #c9d1d9; font-family: sans-serif; text-align: center; padding-top: 10%;">
    <h1>500 - Internal Server Error</h1>
    <p>Something went wrong on our server. Our team has been notified.</p>
    <a href="/" style="color: #58a6ff; text-decoration: none;">Go back home</a>
</body>
</html>